<!-- app/views/admin/questions/_form.html.erb -->
<div class="container">
  <%= form_with(model: @question, method: :post, class: 'mt-3') do |form| %>
    <div class="mb-3">
      <%= form.label :question_list, class: 'form-label' %>
      <%= form.text_area :question_list, class: 'form-control' %>
    </div>

    <div class="mb-3">
      <%= form.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
